<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><i class="fas fa-car"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">                
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/menuChofer']">Regresar</a>
        </li>   
      </ul>     
    </div>
</nav>
<div class="jumbotron m-5 bg-dark">
    <div class="text-center text-white">
        <h2>Registros</h2>
    </div>
    <div class="text-center">
        <img class="m-2" style="border-radius: 10px" src="../../../assets/transporte.jpg" width="400px" height="200px">
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Origen</th>
                <th>Destino</th>
                <th>Pasajero</th>
                <th>Duración</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zona centro</td>
                <td>UTA</td>
                <td>Estudiante</td>
                <td>00:30 min</td>
            </tr>          
        </tbody>
    </table>
</div>



