<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-car"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">          
        <button class="btn btn-outline-light" [routerLink]="['/home']">Regresar</button>      
    </div>
</nav>
<div class="jumbotron m-2 text-white" style="background-color: rgba(0, 0, 0, 0.671);">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vitae consequuntur nisi ducimus quidem ipsum maiores atque nemo ratione aperiam provident asperiores illum debitis fuga aut saepe, culpa perspiciatis corrupti?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illum sunt quaerat dignissimos soluta alias omnis explicabo, laudantium nam earum magni quam officia amet eaque neque dolorem officiis quisquam. Blanditiis.
    Omnis odio repellat dolores vitae totam soluta delectus consectetur reprehenderit rem. Voluptates veritatis fugit tempora, quia totam voluptate dolorum placeat nisi recusandae deleniti dolor sint accusamus perferendis sed nulla necessitatibus.
    Animi, ab natus! Eveniet expedita fugiat at voluptatibus quo sit cumque ut assumenda dolores odit, quasi, explicabo repudiandae accusamus totam deserunt provident obcaecati fuga ratione porro neque voluptas commodi nesciunt?
    Labore voluptates odit eveniet eaque harum, corporis provident ratione ipsa tempore officiis sint porro. Odit minima esse repellat natus porro amet? Perferendis nesciunt praesentium laudantium harum qui quae magnam placeat.
    Tenetur, eligendi vel. Explicabo, voluptate adipisci. Unde rerum temporibus nisi atque, exercitationem iusto cum velit facilis modi, voluptate provident aut laudantium obcaecati? Doloribus sint totam quisquam a officia dignissimos aut.
</div>
